{% extends 'base.html.twig' %}

{% block title %}Create Commits !{% endblock %}

{% block content %}

<h1> create Commits</h1>

    {{ form_start(form) }}
    <div class="form-control">
        <i class="fa fa-calendar"></i> {{ form_label(form.project) }}
        {{ form_widget(form.project) }}

        <small>{{ form_help(form.project) }}</small>

        <div class="form-error">
            {{ form_errors(form.project) }}
        </div>
    </div>
    <br/>
    {{ form_end(form) }}
{% endblock %}
