{% extends 'base.html.twig' %}

{% block title %}Search By Authors {% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="form-control">
        <i class="fa fa-calendar"></i> {{ form_label(form.author) }}
        {{ form_widget(form.author) }}

        <small>{{ form_help(form.author) }}</small>

        <div class="form-error">
            {{ form_errors(form.author) }}
        </div>
    </div>
    <br/>
    {{ form_end(form) }}
<hr/>
    {% if commits|length > 0 %}
<table id="commits">
    <tr>
        <th>Id</th>
        <th>Hash</th>
        <th>Message</th>
    </tr>
    {% for commit in commits %}


    <tr {% if commit.hash|last in 0..10 %} style="background-color: #E6F1F6" {% endif %}>

        <td>{{ commit.id }}</td>
        <td>{{ commit.hash }}</td>
        <td>{{ commit.message }}</td>
    </tr>
    {% endfor %}
</table>
    {% endif %}
{% endblock %}
